<div id="add_subrip_link" class="indent">
	<%= link_to_remote '[+] <span>Add a new page</span>', 
					   :url => { :controller => :rip, 
								 :action => :add_subrip, 
							     :subrip_index => subrip_index,
								 :start_page => start_page }, 
				       :html => { :class => 'help' } %>
</div>