<iframe src="<%= @rip.name ? url_for(:action => 'show', :id => @rip.name) : 'about:blank' %>" frameborder="0" name="preview" id="preview">
  <p>
  	Your Browser does not support Frames and/or JavaScript.
	Please activate these features to use this service.
	Thank you.
  </p>
</iframe>