<%= label = link.name
	label = "\##{link.revision}" if action_name == 'history'
	link_to_remote label, {:url => id_action(:preview, link), 
						   :before => "parent.preview.location.href = '#{url_for(:controller => :message, :action => :loading)}';",
						   :type => :synchronous,
						   :method => :get}, 
						  {:href => url_for(:action => controller.action_name, 
											:id => link.name,
											:page => params[:page],
											:i => (action_name == 'history' ? link.id : nil))}
%>
<%= "(#{link.created_at})" if action_name == 'history' %>
<br/>
<% if link_counter % per_column == per_column - 1 -%>
</td>
<td>
<% end -%>