<p>
<%= link_to '[Single page]', :action => controller.action_name, :type => :single %>
<%= link_to '[Multi page]', :action => controller.action_name, :type => :multi %>
<%= link_to '[Multi page w/ common navigation]', :action => controller.action_name, :type => :common %>
</p>

