<% @title = "Create new bitRip "%>

<p>
<%= link_to '[Single page]', :action => :add %>
<%= link_to '[Multi page]', :action => :add, :multi => true %>
<%= link_to '[Multi page w/ common navigation]', :action => :add, :common =>true %>
</p>

<%= render_form @rip, :action => 'create' %>