
<div class="riplist">
	<%= render :partial => 'link', :collection => @list %>	 
</div>

<%= render :partial => 'iframe' %>

<br/>

<%= render :partial => 'info' %>	 

<div id="addrip">
<%= link_to '[+]', :action => 'add' %>
</div>