
<div class="riplist">
	<%= render :partial => 'link', :collection => @list %>	 
</div>

<iframe src="about:blank" frameborder="0" name="preview" id="preview">
  <p>
  	Your Browser does not support Frames and/or JavaScript.
	Please activate these features to use this service.
	Thank you.
  </p>
</iframe>

<br/>

<%= render :partial => 'info' %>	 

<div id="addrip">
<%= link_to '&lt;create new bitRip&gt;', :action => 'add' %>
</div>