<% @title = "Edit Sandbox" %>

<p>
<%= link_to '[Single page]', :action => :sandbox, :style => :single %>
<%= link_to '[Multi page]', :action => :sandbox, :style => :multi %>
<%= link_to '[Multi page w/ common navigation]', :action => :sandbox, :style => :common %>
</p>

<%= render_form @rip, :action => 'update', :id => @rip %>