<% @title = @rip.name %>

<h1><%= h @rip.description %></h1>

<%= render :partial => 'bit/show', :collection => @rip.bits %>

<% if params_submitted? -%>
	<div class="small">
	direct link
	<a href="<%= request.env['REQUEST_URI'] %>"><%= request.env['REQUEST_URI'] %></a>
	</div>
<% end -%>

