<% @title = @rip.name %>

<h1><%= @rip.description %></h1>

<%= render :partial => 'bit/show', :collection => @rip.bits %>

<% if @rip.has_fields? && 
	  request.env["HTTP_REFERER"].include?(request.env["SERVER_NAME"]) -%>
<div class="small">
direct link
<a href="<%= request.env['REQUEST_URI'] %>"><%= request.env['REQUEST_URI'] %></a>
</div>
<% end -%>