<% 
   sub_suffix ||= sub_suffix subrip_index
   subrip_index ||= -1
-%>
<td id="add_navi_link<%= sub_suffix %>">
	<%= link_to_function '[+] <span>Add a navigation action</span>', 
						 "addNavi(#{index}+1, #{subrip_index})",
				   		 :class => 'help'  %>
</td>