<table>
<tr>
	<td></td>
	<td></td>
	<td class="help"><%= t 'field_required' %></td>
	<td class="help"><%= t 'field_constant' %></td>
</tr>
<%= render :partial => 'form_field/field',
		   :collection => navi.form_fields,
		   :locals => { :index => index } %>
</table>
