<table class="fullwidth">
<tr>
	<td></td>
	<td></td>
	<td><%= t 'field_required' %></td>
	<td><%= t 'field_constant' %></td>
	<td></td>
</tr>
<%= render :partial => 'form_field/field',
		   :collection => navi.form_fields,
		   :locals => { :index => index, :subrip_index => subrip_index } %>
</table>
