<% sub_suffix ||= sub_suffix subrip_index 
   subrip_index ||= -1  -%>

<td id="remove_navi_link<%= sub_suffix %>" class="right" width="100%">
<%= if index.kind_of?(String) || index >= 0
	link_to_function '<span>Remove the last navigation action</span> [-]', 
					 "removeNavi(#{index}, #{subrip_index})",
				     :class => 'help' 
	end
%>
</td>