<% @title = "Frequently Asked Questions" %>

<div class="messages">
<ul>
<% @list.each do |entry| -%>
	<li><%= link_to entry.key, :anchor => entry.id %></li>
<% end -%>
</ul>

<% @list.each do |entry| -%>
	<a name="<%= entry.id %>" class="nolink">
		<h3><%= entry.key %></h3>
	</a>
	<p><%= entry.content %></p>
	<hr/>
<% end -%>
</div>

<br>

<a href="#top">Top</a>
