<% sub_suffix ||= sub_suffix subrip_index 
   subrip_index ||= -1
-%>

<div id="add_bit_link<%= sub_suffix %>" class="indent">
	<%= link_to_function '[+] <span>Add a new bit</span>', 
						 "addBit(#{index} + 1, #{subrip_index})",
				   	 	 :class => 'help'  %>
</div>