BODY {
    background:     black url('../images/bitleaves.gif') repeat-x;
    color: 			white;
    padding:        0px;
    margin:         0px;
    text-align:     center;   /* centered content in IE */
}

BODY, P, DIV, TD  {
	font-family: 	Courier New, monospace;
	font-size: 		11pt;
	text-align: 	justify;
}

H1  {
	font-size : 16pt;
	color: 	    white;
}

H2  {
	font-size : 	14pt;
	margin-top:		15pt;
	margin-bottom:	0pt;
}

H3  {
	font-size : 13pt;
	font-weight: bold;
	margin-top:   0px;
	margin-bottom: 0px;
}

H4 {
	font-size : 11.5pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 4px;
}

A  {
	text-decoration: none;
	color: 			 #00cc00;
}

A:hover  {
	color: 	#33FF33;
}

A:visited {
	/*color : #666666;*/
}


A IMG {
	border: none;
}

INPUT, textarea {
	color: 			Black;
	font-family: 	Courier New, monospace;
	font-size: 		9.5pt;
	margin: 		0pt;
}

TD {
	padding: 0px;
	padding-left: 5px;
    margin: 0px;
}

TR {
	vertical-align: top;
}

HR {
	color: 				#00DD00;
	background-color: 	#00DD00;
	margin:  			4px;
}

#canvas {
	display: 		table;
	margin:         auto;
    padding:        0px 0px 0px 0px;
	width:			700pt;
	background: 	black;
	border-left:	1px solid #004400;
	border-right:	1px solid #004400;
	border-bottom:	1px solid #004400;
}

#title  {
	font-size : 	30pt;
	margin-top:		5px;
	font-weight: 	 bold;
}

#title a {
	color:      	black;
}

#title a:Hover  {
	text-decoration : none;
}

.header {
	border-top:		1px outset #004400;
	border-bottom:	1px outset #004400;
	background: 	#11AA11;
	color: 			black;
	text-align: 	center;
}

#content {
    margin:        6pt;
	margin-top:    0pt;
}

#menu {
	font-size:	    larger;
	font-weight: 	 bold;
}

#backlink {
	float:		right;
}

#notice {
    margin-bottom: 10px;
	color: 		   #dd6600;
	text-align:	   center;
}

#notice a {
	font-weight:	bold;
	color:			#dd6600;
}

#notice a:hover {
	color:			#ff6600;
}

.indexleft {
	width:			480pt;
}

#riplist {
	margin-right:   6pt;
	margin-bottom:	15pt;
}

#riplist td {
	width: 33%;
}

#indexright {
	float:			right;
	width:			200pt;
}

#indexright #preview {
	width:			200pt;
}

#ripinfo {
}

#preview {
	height: 		300pt;
	border-left: 	1px solid #004400;
	border-top: 	1px solid #004400;
	margin-bottom: 	6pt;
}

#ripform {
	float:			left;
	width:			420pt;
	margin-right: 	6pt;
	margin-bottom:  6pt;
}

#rightform {
	float:			right;
}

#rightform #preview {
	width:			260pt;
}

.right {
	text-align: right;
}

.fullwidth {
	width:		100%;
}

.indent {
	margin-left:   5px;
}

.control {
	font-size:		12pt;
}

.control a.help span {
	font-size:		11pt;
}

.small {
	font-size:		9pt;
	text-align:		left;
}

.small a.help span {
	font-size:		11pt;
}

ul.sortable {
	margin:		  0px;
	padding-left: 0px;
}

ul.sortable li {
	list-style:   none;
}

div.dialog {
	width: 25em;
	padding: 0 4em;
	text-align: center;
	background-color: black;
	margin: 4em auto 0 auto;
	border: 1px solid #dd6600;
}

.quickinfo {
	font-size: 9pt;
}

.quickinfo span {
	font-size: 11pt;
}

a.nolink {
	 color: 			white;
}

a.help {
	position: 		 relative;
	font-weight: 	 bold;
}

a.help span {
	display: none;
}

a.help:hover {
	border: 0;  /* for IE bug */
}

a.help:focus {
	outline: 0;
}

a.help:hover span {
	display: 		block;
	position: 		absolute;
	top: 			10px;
	left: 			20px;
	z-index: 		3;
	color: 			#000;
	background: 	#ddffdd;
	padding:		1pt;
	padding-left:	2pt;
	padding-right:  2pt;
	border:			1px solid #363;
	font-weight:	normal;
	text-align: 	left;
	white-space:	nowrap;
}

.quickinfo a.help:hover span {
	white-space:	normal;
	width:			250px;
}

.pagination {
	text-align: center;
	width:		300pt;
}

.pagination .disabled {
	visibility: hidden;
}

.messages {
	width: 500pt;
}

.messages h3 {
	margin-top: 16pt;
	margin-bottom: 4pt;
}

.messages td {
	vertical-align: bottom;
}
