BODY {
    background-color: white;
    color: 			black;
    padding:        0px;
    margin:         0px;
    text-align:     center;   /* centered content in IE */
}

BODY, P, DIV, TD  {
	font-family: 	Courier New, monospace ;
	font-size: 		10pt;
	text-align: 	justify;
}

H1  {
	font-size : 15pt;
}

H2  {
	font-size : 13pt;
}

H3  {
	font-size : 12pt;
	font-weight: bold;
	margin-bottom: 0px;
}

A  {
	text-decoration : none;
	font-weight : bold;
	color : #505050;
}

A:Hover  {
	text-decoration : underline;
}

A:visited {
	color : #666666;
}

A IMG {
	border: none;
}

INPUT {
	color: Black;
	font-family: Courier New, monospace;
}

TD {
	padding: 0px;
	padding-left: 5px;
    margin: 0px;
}

TR {
	vertical-align: top;
}

HR {
	margin-left: 5px;
}

#canvas {
	display: 		table;
	margin:         auto;
    padding:        0px 0px 0px 0px;
	background: 	#dddddd;
	border-left:	1px solid #aaaaaa;
	border-right:	1px solid #aaaaaa;
	border-bottom:	1px solid #aaaaaa;
}

#title  {
	font-size : 	30pt;
	color: 			white;
}

#title:Hover  {
	text-decoration : none;
}

#content {
    margin:        6pt;
	margin-top:    0pt;
}

#notice {
    margin-bottom: 10px;
	color: 		   #aa0000;
}

.header {
	margin-top: 	5pt;
	border-top:		1px outset #aaaaaa;
	border-bottom:	1px outset #aaaaaa;
	background: 	#444444;
	color: 			white;
	text-align: 	center;
}

.riplist {
	float: 			left;
	margin-right:   6pt;
}

.right {
	text-align: right;
	width:      100%;
}

.indent {
	padding-left:   5px;
}

#preview {
	width: 			200pt;
	height: 		300pt;
	border-left: 	1px solid gray;
	border-top: 	1px solid gray;
	margin-bottom: 	6pt;
}

#ripform {
	float:			left;
	margin-right: 	6pt;
	margin-bottom:  6pt;
}

#rightform {
	float:			left;
}

#addrip {
	clear: 			both;
	margin-top:		15pt;
}

#bits {
	padding-left:    0pt;
}

#bits li {
	text-indent:	0pt;
	margin-left:	0pt;
	list-style:    none;
}



