BODY {
    background-color: black;
    color: white;
}

BODY, P, DIV, TD  {
	font-family : Courier New, monospace;
	font-size: 		10pt;
}
A  {
	text-decoration: none;
	font-weight: 	 bold;
	color: 			 #00cc00;
}

A:hover  {
	color: 	#33FF33;
}

A:visited {
	/*color : #666666;*/
}


A IMG {
	border: none;
}

.errorExplanation {
	color:  		#dd6600;
	float:			left;
}

.errorExplanation h2 {
	margin-top: 0px;
	font-size: 12pt;
}